n8n-workflows/keyword_analyze_workflow.json
{
  "name": "Keyword Analyze",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-analyze",
        "authentication": "headerAuth",
        "options": {
          "responseData": "success"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -240
      ],
      "id": "50a0c110-c2e0-4f8e-a1bc-9f9e04397d56",
      "name": "Webhook",
      "webhookId": "997ef544-9e22-436b-bea1-d42846d5de8a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SqzwwY4Hcp7bLSze",
          "name": "Webhook Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst keyword = items[0].json.body.keyword;\n\nreturn { json: { id: keyword.id, keyword: keyword.keyword } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -240
      ],
      "id": "d9345577-f6a1-4377-a29e-a2583d963dc4",
      "name": "Prepare for SERP"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        -240
      ],
      "id": "cda5afca-9710-42d3-ba02-24efead7df96",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "346eb7ab-c9d2-466a-b33a-25a0b6dfc65f",
              "name": "locationName",
              "value": "United States",
              "type": "string"
            },
            {
              "id": "9a878177-c81c-4f8d-ade8-065c4838de7a",
              "name": "languageName",
              "value": "English",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -240
      ],
      "id": "413463ba-2fc7-48be-b0b3-c61449a68214",
      "name": "Set Config Value"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/google/organic/live/regular",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n  \"keyword\": \"{{ $json.keyword }}\",\n  \"language_name\": \"{{ $json.languageName }}\",\n  \"location_name\": \"{{ $json.locationName }}\"\n}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -240
      ],
      "id": "d66d9ac0-d532-4dd9-85e4-856a54189798",
      "name": "SERP for Keyword",
      "credentials": {
        "httpBasicAuth": {
          "id": "4UFJhFhvARKFsbUZ",
          "name": "DataForSEO Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "## Getting SERP for Keywords",
        "height": 224,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -304
      ],
      "typeVersion": 1,
      "id": "1cb6769b-b722-4837-9c49-06d67eab8758",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $json.tasks[0].result[0];\nconst items = result[\"items\"].map(i => ({ \n  title: i.title,\n  description: i.description,\n  url: i.url,\n  keyword: result.keyword,\n}));\n\nreturn { items };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        48
      ],
      "id": "c2faf2a2-b16b-49c8-8a20-51000b990d89",
      "name": "Prepare for On-Page"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an SEO SERP pattern analyzer.\n\nRules:\n- Output valid JSON only\n- Follow the schema exactly\n- No extra keys\n- No explanations\n- Do not copy titles or meta descriptions verbatim\n- Infer intent only from SERP patterns\n- Keep title under 60 characters\n- Keep meta description under 155 characters"
            },
            {
              "content": "=KEYWORD:\n{{ $node[\"Prepare for SERP\"].json.keyword }}\n\nSERP_DATA:\n{{ JSON.stringify($json.metadata) }}\n\nTasks:\n1. Infer search intent from SERP patterns.\n2. Generate a unique SEO title.\n3. Generate a concise meta description.\n4. Build a SERP-aligned outline (5-8 H2 sections, each 0-3 H3).\n5. Extract 5-10 must_cover recurring topics.\n6. Extract 10-20 secondary keywords from recurring SERP terms.\n\nReturn ONLY:\n\n{\n  \"keyword\":\"\",\n  \"intent\":\"informational|commercial|transactional|navigational\",\n  \"title\":\"\",\n  \"meta_description\":\"\",\n  \"outline\":[\n    {\"h2\":\"\",\"h3\":[]}\n  ],\n  \"must_cover\":[],\n  \"secondary_keywords\":[]\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -32,
        48
      ],
      "id": "564349ce-f097-472a-a1fb-54bfb1b565cc",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "E7BwYwUgebLBmEeH",
          "name": "OpenAI Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = items.map(item => item.json.tasks[0].result[0]);\nconst metadata = results.map(rst => rst.items[0].meta);\n\nconst combined = metadata.map((m, i) => ({ metadata: m, keyword: $items(\"Split Out\")[i].json.keyword }));\n\nconst keywords = combined.reduce((acc, item) => {\n  (acc[item.keyword] ||= []).push(item);\n  return acc;\n}, {});\n\nreturn Object.keys(keywords).map(k => ({ metadata: keywords[k] }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        48
      ],
      "id": "adbcc6ed-ab7d-42f3-bd18-5499076cf121",
      "name": "Prepare for GPT"
    },
    {
      "parameters": {
        "content": "## SERP Analysis",
        "height": 224,
        "width": 1044,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -16
      ],
      "typeVersion": 1,
      "id": "0352a6a9-913d-4cf3-9fcd-638d44c47036",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = {\n  ...JSON.parse(items[0].json.output[0].content[0].text),\n  keyword_id: $items(\"Prepare for SERP\")[0].json.id\n};\nreturn { json: { data } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -240
      ],
      "id": "1547514c-5efb-421e-a76a-2e8c565bd761",
      "name": "Prepare for Django"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -560,
        48
      ],
      "id": "27e0fca7-b94d-481c-92c6-5bfe36327669",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/on_page/instant_pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n  \"url\": \"{{ $json.url }}\"\n}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        48
      ],
      "id": "b6d71693-1c05-4dac-b743-819de7605f96",
      "name": "On-Page Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "4UFJhFhvARKFsbUZ",
          "name": "DataForSEO Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8000/api/v1/keyword-analyze-webhook/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "metadata",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -240
      ],
      "id": "3bf2143c-0786-4b58-afbc-d26578176fba",
      "name": "POST to Django",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SqzwwY4Hcp7bLSze",
          "name": "Webhook Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## Result Output",
        "height": 224,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -304
      ],
      "typeVersion": 1,
      "id": "903de287-ffde-498f-8904-321d626a2f9a",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare for SERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for SERP": {
      "main": [
        [
          {
            "node": "Set Config Value",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SERP for Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config Value": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SERP for Keyword": {
      "main": [
        [
          {
            "node": "Prepare for On-Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for On-Page": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for GPT": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Prepare for Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "On-Page Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Django": {
      "main": [
        [
          {
            "node": "POST to Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On-Page Request": {
      "main": [
        [
          {
            "node": "Prepare for GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cc42d9d2-ee7a-4e54-8e9f-3a9cf4c82c63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cd8132a01553208b51af1b6f590e6b713099fddbe627ba38f94e57ddda75156"
  },
  "id": "2nPsjlyUkSpyTArj",
  "tags": []
}