n8n-workflows/keyword_research_workflow.json
{
  "name": "Keyword Research",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "seedKeyword",
              "value": "={{ $json.body.keyword }}"
            },
            {
              "name": "locationName",
              "value": "United States"
            },
            {
              "name": "languageName",
              "value": "English"
            }
          ],
          "number": [
            {
              "name": "limit",
              "value": 100
            },
            {
              "name": "depth",
              "value": 2
            }
          ]
        },
        "options": {}
      },
      "name": "Set Seed Keyword",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        272,
        80
      ],
      "id": "9c55c9b1-eef9-426d-8daf-f7ea6505aff1"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/related_keywords/live",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "=[\n  {\n    \"keyword\": \"{{ $json.body.keyword }}\",\n    \"location_name\": \"{{ $json.locationName }}\",\n    \"language_name\": \"{{ $json.languageName }}\",\n    \"limit\": {{ $json.limit }},\n    \"depth\": {{ $json.depth }}\n  }\n]"
      },
      "name": "HTTP Request to Keyword API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        512,
        80
      ],
      "id": "fa648746-fd25-4085-8948-923b702c648f",
      "credentials": {
        "httpBasicAuth": {
          "id": "4UFJhFhvARKFsbUZ",
          "name": "DataForSEO Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.searchVolume }}",
              "operation": "largerEqual",
              "value2": 50
            },
            {
              "value1": "={{ $json.cpc }}",
              "operation": "largerEqual",
              "value2": 1
            },
            {
              "value1": "={{ $json.competition }}",
              "operation": "smallerEqual",
              "value2": 0.6
            },
            {
              "value1": "={{ $json.searchVolume }}",
              "operation": "smallerEqual",
              "value2": 500
            }
          ]
        }
      },
      "name": "Filter Volume",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1088,
        80
      ],
      "id": "fd35caec-5698-4946-bdb9-da0a82f88162"
    },
    {
      "parameters": {
        "content": "## Input Setup",
        "height": 280,
        "width": 420,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a1ef98cf-ffb3-4b4c-9fe0-f79da98ba40f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## API Call & Filter:",
        "height": 280,
        "width": 772,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "758dfa3d-a7ed-4381-8f38-53c59659f43b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Result Output",
        "height": 280,
        "width": 412,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        0
      ],
      "id": "136a4689-6cd5-41d8-9bfe-27c8597c8abc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8000/api/v1/keyword-research-webhook/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Webhook-Token",
              "value": "={{ $env.WEBHOOK_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "seedKeyword",
              "value": "={{ $(\"Set Seed Keyword\").item.json.seedKeyword }}"
            },
            {
              "name": "keywords",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1504,
        80
      ],
      "id": "055ff58d-b9a3-4c19-be5e-9d76fff8e48b",
      "name": "Post to Django"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-research",
        "authentication": "headerAuth",
        "options": {
          "rawBody": false,
          "responseData": "success"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        80
      ],
      "id": "b1200b79-8d20-4186-a4eb-f1c476abae4f",
      "name": "Webhook",
      "webhookId": "1bf64ad2-e495-4045-9f82-e37974ba22b8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SqzwwY4Hcp7bLSze",
          "name": "Webhook Token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks[0].result[0].items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        80
      ],
      "id": "f6a4e69a-fc17-4f38-bedf-01a4f0c12ea4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd671cef-1ade-44db-9e74-0df226f8fedd",
              "name": "=keyword",
              "value": "={{ $json.keyword_data.keyword }}",
              "type": "string"
            },
            {
              "id": "b533283b-8d9b-43cf-b1ca-0c140cc34385",
              "name": "searchVolume",
              "value": "={{ $json.keyword_data.keyword_info.search_volume }}",
              "type": "number"
            },
            {
              "id": "8257cea8-ed87-4eb6-9776-22427c56379c",
              "name": "competition",
              "value": "={{ $json.keyword_data.keyword_info.competition }}",
              "type": "number"
            },
            {
              "id": "60f835b2-5e0f-4bca-a817-c53e850e492a",
              "name": "cpc",
              "value": "={{ $json.keyword_data.keyword_info.cpc }}",
              "type": "number"
            },
            {
              "id": "aa78e07e-c66b-4256-b8b9-2e9ad06ceaf1",
              "name": "keywordDifficulty",
              "value": "={{ $json.keyword_data.keyword_properties.keyword_difficulty }}",
              "type": "number"
            },
            {
              "id": "3f20bcf1-63e8-4620-8a0a-bae80bff29e8",
              "name": "searchIntent",
              "value": "={{ $json.keyword_data.search_intent_info.main_intent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        80
      ],
      "id": "9008e6ef-c7f1-48b7-9ae6-ad5c1121e5b3",
      "name": "Set Keyword Research Values"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1312,
        80
      ],
      "id": "92075352-576b-4c69-8466-320eda1272de",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Seed Keyword": {
      "main": [
        [
          {
            "node": "HTTP Request to Keyword API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to Keyword API": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Volume": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Seed Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Set Keyword Research Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Keyword Research Values": {
      "main": [
        [
          {
            "node": "Filter Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Post to Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7abafeb2-2e1a-4ebe-b06a-d4495e8121ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cd8132a01553208b51af1b6f590e6b713099fddbe627ba38f94e57ddda75156"
  },
  "id": "SF3NCk0pLPqfhawA",
  "tags": []
}